---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post: CollectionEntry<'blog'>) => ({
    params: { id: post.id.replace(/\.mdx?$/, '') },
    props: { post },
  }));
}

const { post } = Astro.props as Props;
const { Content } = await render(post);
---

<BaseLayout title={`${post.data.title} | Hu Xiuhan`} description={post.data.title}>
  <main class="blog-page">
    <div class="wrapper">
      <article class="blog-content">
        <h1>{post.data.title}</h1>
        <Content />
      </article>
    </div>
  </main>
</BaseLayout>
