<div class="about">

  <div class="wrapper">
    <h1> About </h1>
    <p>Hello, welcome to my homepage. My name is Hu Xiuhan (family name first, 胡修涵 in Chinese Characters). I usually use SQRH as a nickname, which is an alias for the abbreviation of my real name.</p>

    <p>I define myself as a technology enthusiast and a curious observer. I'm most interested in Computer Vision and Robotics, but I also enjoy programming generally. I started to write program when I was in middle school with Pascal and PHP. I love programming in Ruby and I wrote JavaScript most.
    </p>

    <p>I was a M.S. student in Computer Science from Columbia University and an undergraduate from <a href="http://www.cis.pku.edu.cn/">Machine Intelligence Department</a>, Peking University.
    </p>

    <p>I interned at Facebook, Menlo Park during 2015 Summer and join the company as a full-time employee since March, 2016.
    </p>

    <p>If you know Chinese, you may learn a little more about me from <a href="/about/chs">here</a>.</p>
  </div>

</div>
