@charset "utf-8";

$base-font-family: "Enriqueta", Georgia, Times, "Times New Roman", serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #352222;
$background-color: #fdfdfd;
$brand-color:      #313c52;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
     margin: 0;
     padding: 0;
 }
 
 
 
 /**
  * Basic styling
  */
 
 
 
 body {
     > div {
         background: #fcfcfc url('/images/satinweave.png') top left;
     }
     font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
     color: $text-color;
     background: #f0f0f0 url('/images/noise.png');
     -webkit-text-size-adjust: 100%;
     -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
     -o-font-feature-settings: "kern" 1;
     font-feature-settings: "kern" 1;
     font-kerning: normal;
 }
 
 
 
 /**
  * Set `margin-bottom` to maintain vertical rhythm
  */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure,
 %vertical-rhythm {
     margin-bottom: $spacing-unit / 2;
 }
 
 
 
 /**
  * Images
  */
 img {
     max-width: 100%;
     vertical-align: middle;
 }
 
 
 
 /**
  * Figures
  */
 figure > img {
     display: block;
 }
 
 figcaption {
     font-size: $small-font-size;
 }
 
 
 
 /**
  * Lists
  */
 ul, ol {
     margin-left: $spacing-unit;
     list-style: none;
 }
 
 li {
     > ul,
     > ol {
          margin-bottom: 0;
     }
 }
 
 
 
 /**
  * Headings
  */
 h1, h2, h3, h4, h5, h6 {
     font-weight: $base-font-weight;
     font-family: "Share Tech", "Georgia", "Helvetica Neue", Arial, sans-serif;
     text-rendering: optimizelegibility;
     font-weight: bold
 }
 
 
 
 /**
  * Links
  */
 a {
     color: $brand-color;
     text-decoration: none;
     -webkit-transition: color 0.3s;
     -moz-transition: color 0.3s;
     -o-transition: color 0.3s;
     transition: color 0.3s;
 
     &:visited {
         color: lighten($brand-color, 15%);
     }
 
     &:hover {
         color: lighten($brand-color, 15%);
         text-decoration: underline;
     }
 }
 
 
 
 /**
  * Blockquotes
  */
 blockquote {
     color: $grey-color;
     border-left: 4px solid $grey-color-light;
     padding-left: $spacing-unit / 2;
     font-size: 18px;
     letter-spacing: -1px;
     font-style: italic;
 
     > :last-child {
         margin-bottom: 0;
     }
 }
 
 
 
 /**
  * Code formatting
  */
 pre,
 code {
     font-size: 15px;
     border: 1px solid $grey-color-light;
     border-radius: 3px;
     background-color: #eef;
 }
 
 code {
     padding: 1px 5px;
 }
 
 pre {
     padding: 8px 12px;
     overflow-x: auto;
 
     > code {
         border: 0;
         padding-right: 0;
         padding-left: 0;
     }
 }
 
 
 
 /**
  * Wrapper
  */
 .wrapper {
     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
     max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
     margin-right: auto;
     margin-left: auto;
     padding-right: $spacing-unit;
     padding-left: $spacing-unit;
     @extend %clearfix;
 
     @include media-query($on-laptop) {
         max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
         max-width:         calc(#{$content-width} - (#{$spacing-unit}));
         padding-right: $spacing-unit / 2;
         padding-left: $spacing-unit / 2;
     }
 }
 
 
 
 /**
  * Clearfix
  */
 %clearfix {
 
     &:after {
         content: "";
         display: table;
         clear: both;
     }
 }
 
 
 
 /**
  * Icons
  */
 .icon {
 
     > svg {
         display: inline-block;
         width: 16px;
         height: 16px;
         vertical-align: middle;
 
         path {
             fill: $grey-color;
         }
     }
 }
 


 /**
 * Site header
 */
.site-header {
    padding: 60px 0;
    text-align: center;
    border-bottom:1px solid rgba(133,134,230,0.8);
    background: url(/images/3-1.jpg);
    background-size: cover;
    .hero {
        a {
            text-decoration: none;
            color: #f2f2f2;
            font-size: 300%;
            margin-bottom: 0;
        }
    }

    #hero-1:hover .hb {
        opacity: 1;
    }
    #hero-1 .hb {
        transition: opacity 1s ease-in;
        -webkit-transition: opacity 1s ease-in;
        opacity: 0
    }
    .hide {
        display: none
    }
    .nav {
        li {
            display: inline-block;
            font-size: 3em;
            margin-right: 50px;
        }
        margin-top: -40px;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.about {
    margin-top: 30px;
}

.project-content {
    margin-top: 30px;
    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    ul > li {
        border-bottom: 1px dotted #ccc;
        min-height: 200px;
        display: flex;
    }
    .poster {
        width: 44%;
        img {
            width: 90%;
            margin: 5%;
            border: 1px solid #cdd;
            border-radius: 5px;
            &:hover {
                box-shadow: 2px 2px 2px #ddd;
            }
        }
    }
    .text {
        width: 50%;
        padding: 2%;
        margin-top: 10px;
    }
    li:nth-child(odd) {
        flex-direction: row;
    }
    

    li:nth-child(even) {
        flex-direction: row-reverse;
        background: #fafafa url('/images/noise.png');
    }
    #projects .clearfix {
        clear: both;
    }
}

/**
 * Syntax highlighting styles
 */
 .highlight {
    background: #fff;
    @extend %vertical-rhythm;

    .highlighter-rouge & {
      background: #eef;
    }

    .c     { color: #998; font-style: italic } 
    .err   { color: #a61717; background-color: #e3d2d2 } 
    .k     { font-weight: bold } 
    .o     { font-weight: bold } 
    .cm    { color: #998; font-style: italic } 
    .cp    { color: #999; font-weight: bold } 
    .c1    { color: #998; font-style: italic } 
    .cs    { color: #999; font-weight: bold; font-style: italic } 
    .gd    { color: #000; background-color: #fdd } 
    .gd .x { color: #000; background-color: #faa } 
    .ge    { font-style: italic } 
    .gr    { color: #a00 } 
    .gh    { color: #999 } 
    .gi    { color: #000; background-color: #dfd } 
    .gi .x { color: #000; background-color: #afa } 
    .go    { color: #888 } 
    .gp    { color: #555 } 
    .gs    { font-weight: bold } 
    .gu    { color: #aaa } 
    .gt    { color: #a00 } 
    .kc    { font-weight: bold } 
    .kd    { font-weight: bold } 
    .kp    { font-weight: bold } 
    .kr    { font-weight: bold } 
    .kt    { color: #458; font-weight: bold } 
    .m     { color: #099 } 
    .s     { color: #d14 } 
    .na    { color: #008080 } 
    .nb    { color: #0086B3 } 
    .nc    { color: #458; font-weight: bold } 
    .no    { color: #008080 } 
    .ni    { color: #800080 } 
    .ne    { color: #900; font-weight: bold } 
    .nf    { color: #900; font-weight: bold } 
    .nn    { color: #555 } 
    .nt    { color: #000080 } 
    .nv    { color: #008080 } 
    .ow    { font-weight: bold } 
    .w     { color: #bbb } 
    .mf    { color: #099 } 
    .mh    { color: #099 } 
    .mi    { color: #099 } 
    .mo    { color: #099 } 
    .sb    { color: #d14 } 
    .sc    { color: #d14 } 
    .sd    { color: #d14 } 
    .s2    { color: #d14 } 
    .se    { color: #d14 } 
    .sh    { color: #d14 } 
    .si    { color: #d14 } 
    .sx    { color: #d14 } 
    .sr    { color: #009926 } 
    .s1    { color: #d14 } 
    .ss    { color: #990073 } 
    .bp    { color: #999 } 
    .vc    { color: #008080 } 
    .vg    { color: #008080 } 
    .vi    { color: #008080 } 
    .il    { color: #099 } 
}


