<header class="site-header">

  <div class="wrapper">

    <h1 class="hero" id="hero-1" hint="胡修涵">
      <a href="/">
      <span class="hb">[</span>
      <span class="sheng">H</span><span class="yun">u</span>
      <span class="sheng">X</span><span class="yun">iu</span><span class="sheng">h</span><span class="yun">an</span>
      <span class="hb">]</span>
       </a>
    </h1>
    <p class="hero hide" id="hero-2">
      <span>H</span>
      <span class="times">X</span>
      <span>H</span>
    </p>
    <p class="hero hide padding" id="hero-3">
      SQR<span class="hb3">(</span><span class="hint3"><abbr>H</abbr></span><span class="hb3">)</span>
    </p>
    <ul class="nav">
      <li><a href="https://github.com/{{ site.github_username }}" title="Github"><span class="icon icon--github">{% include icon-github.svg %}</span></a></li>
      <li><a href="https://www.linkedin.com/in/{{ site.linkedin_pagename }}" title="LinkedIn"><span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span></a></li>
      <li><a href="/assets/resume.pdf" title="Resume"><span class="icon icon--resume">{% include icon-resume.svg %}</span></a></li>
      <li><a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook"><span class="icon icon--facebook">{% include icon-facebook.svg %}</span></a></li>
      <li><a href="mailto:{{ site.email }}" title="Email"><span class="icon icon--email">{% include icon-email.svg %}</span></a></li>

    </ul>
  </div>

</header>
